$font_path: '~@/assets/fonts/';

@font-face {
	font-family: 'Roboto Condensed';
	src: url($font_path +'roboto-condensed/Roboto-Condensed-BoldItalic.eot');
	src: url($font_path +'roboto-condensed/Roboto-Condensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url($font_path +'roboto-condensed/Roboto-Condensed-BoldItalic.woff2') format('woff2'),
		url($font_path +'roboto-condensed/Roboto-Condensed-BoldItalic.woff') format('woff'),
		url($font_path +'roboto-condensed/Roboto-Condensed-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url($font_path +'roboto-condensed/Roboto-Condensed-RegularItalic.eot');
	src: url($font_path +'roboto-condensed/Roboto-Condensed-RegularItalic.eot?#iefix') format('embedded-opentype'),
		url($font_path +'roboto-condensed/Roboto-Condensed-RegularItalic.woff2') format('woff2'),
		url($font_path +'roboto-condensed/Roboto-Condensed-RegularItalic.woff') format('woff'),
		url($font_path +'roboto-condensed/Roboto-Condensed-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url($font_path +'roboto-condensed/Roboto-Condensed-Bold.eot');
	src: url($font_path +'roboto-condensed/Roboto-Condensed-Bold.eot?#iefix') format('embedded-opentype'),
		url($font_path +'roboto-condensed/Roboto-Condensed-Bold.woff2') format('woff2'),
		url($font_path +'roboto-condensed/Roboto-Condensed-Bold.woff') format('woff'),
		url($font_path +'roboto-condensed/Roboto-Condensed-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url($font_path +'roboto-condensed/Roboto-Condensed-Regular.eot');
	src: url($font_path +'roboto-condensed/Roboto-Condensed-Regular.eot?#iefix') format('embedded-opentype'),
		url($font_path +'roboto-condensed/Roboto-Condensed-Regular.woff2') format('woff2'),
		url($font_path +'roboto-condensed/Roboto-Condensed-Regular.woff') format('woff'),
		url($font_path +'roboto-condensed/Roboto-Condensed-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url($font_path +'roboto-condensed/Roboto-Condensed-Light.eot');
	src: url($font_path +'roboto-condensed/Roboto-Condensed-Light.eot?#iefix') format('embedded-opentype'),
		url($font_path +'roboto-condensed/Roboto-Condensed-Light.woff2') format('woff2'),
		url($font_path +'roboto-condensed/Roboto-Condensed-Light.woff') format('woff'),
		url($font_path +'roboto-condensed/Roboto-Condensed-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url($font_path +'roboto-condensed/Roboto-Condensed-LightItalic.eot');
	src: url($font_path +'roboto-condensed/Roboto-Condensed-LightItalic.eot?#iefix') format('embedded-opentype'),
		url($font_path +'roboto-condensed/Roboto-Condensed-LightItalic.woff2') format('woff2'),
		url($font_path +'roboto-condensed/Roboto-Condensed-LightItalic.woff') format('woff'),
		url($font_path +'roboto-condensed/Roboto-Condensed-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

$roboto-condensed : 'Roboto Condensed';
