// Progress Spinner
.progress-spinner {
  animation: rotate 2s linear infinite;
  width: 0.8rem;
  height: 0.8rem;
  margin-bottom: -1.5px;
  margin-right: 5px;
  & .path {
    stroke: hsl(210, 210, 210);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

// Tag fixes
span.tag:not(body) .icon:first-child:last-child {
    margin-right: 0;
}
.power {
  min-width: 57px;
}
